@model WStore.Models.EmployeeView
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Details</title>
</head>
<body>
    <table>
        <thead>
        <th>Id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Возраст</th>
        <th>Город</th>
        </thead>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.SurName</td>
            <td>@Model.FirstName</td>
            <td>@Model.Patronymic</td>
            <td>@Model.Age</td>
            <td>@Model.City</td>
        </tr>
    </table>
    <h3>@Html.ActionLink("<<Список сотрудников", "GetEmployes")</h3>
</body>
</html>
